
/****************************************************************/
/*                      Basis document styling                  */
/****************************************************************/

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-background);
}





/****************************************************************/
/*                  ALGEMENE CUSTOM PROPERTIES                  */
/****************************************************************/ 


:root {
  --color-background:  #e3e5f4;
  
  --color-africa: #757bc8;
  --color-europe: #8e94f2;
  --color-restOfAsia: #ada7ff;
  --color-australia: #cdd1f0;
  --color-japan: #ddbdfc;
  --color-america: #696fb4;
  --color-china: #4e528b;

  --color-nonSelectionMap: #c8cae9;



}

/* #africa{fill:#757bc8;}
.europe{fill:#8e94f2;}
.restOfAsia{fill:#ada7ff;}
.australia{fill:#cdd1f0;}
.japan{fill:#ddbdfc;}
.america{fill:#696fb4;}
.china{fill:#5e62a0;} */



/****************************************************************/
/*                             MAIN                             */
/****************************************************************/

h1 {
  display: flex;
  justify-content: center;

  margin: 1em;
}

/* section {
  display: flex;
  justify-content: center;

  overflow: scroll;

} */


/****************************************************************/
/*                       LAPTOP + ELEMENTS                      */
/****************************************************************/


button #on {
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}

#overlay {
  position: relative;

  margin-bottom: 20em;
}

#overlay img {
  width: 100%;
  height: auto;

  position: absolute;
  top: 0;
  left: 0;
}

#overlay div.screen {
  height: 598px;
  width: 892px;

  border-radius: 28px;

  margin-left: 2em;

  background-color: black;

  position: absolute;
  top: 3.1em;
  left: 15.2em;


}

#overlay div.screen.uit {
  display: none;
}

#overlayButtons {
  position: relative;
}

.items {
  position: absolute;

  top: 37em;
  left: 36em;


}



/****************************************************************/
/*                           CHART 1                            */
/****************************************************************/


#labelsBottom text, #labelsLeft text {
  font-weight: 400;
  font-size: 12pt;
  text-anchor: start;
}

#chart1 {
  margin-left: 26em;
  margin-top: 5.5em;
}


/****************************************************************/
/*                           CHART 2                            */
/****************************************************************/





#mapSvg {
  margin-top: 4em;

  color: var(--color-nonSelectionMap);

  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#secondChart {
  padding: 2em;
}


/****************************************************************/
/*                       MAIN BUTTON OPMAAK                     */
/****************************************************************/

/**************/
/* MOODS FORM */
/**************/
body > form {
  position:relative;
  display:flex;
  align-items:center;
  padding:2em;
  margin: 2em;
}

body > form :is(input[type="radio"], button) {
  position:absolute;
  left:-9999em;
}

body > form label {
  font-size:1.75em;
  margin:0;
  padding:.1em;
  line-height:1em;
  border-radius:50%;
  filter:var(--radio-filter);

  user-select:none;
}

body > form input[type="radio"]:checked + label {
 background-color: #4e528b;
 border: solid 2px rebeccapurple;
}

body > form input[type="radio"]:is(:active, :focus) + label {
filter:var(--radio-filter-fcs);
}